
{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% import "_macros.html" as macros %}

{% block title %}Flasky{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}


{% block contect %}
<div class="container">
    {% for message in get_flashed_messages() %}
         <div class="alert alert-warning">
             <button type="button" class="close" data-dismiss="alert">&times;</button>
             {{ message }}
         </div>
    {% endfor %}

    {% block page_content %}
        {% if current_user.can(4) %}
            {{ wtf.quick_form(form) }}
        {% endif %}
        <div>
            {% include '_posts.html' %}
            <div class="pagination">
                {{ macros.pagination_widget(pagination, '.index') }}
            </div>
        </div>
    {% endblock %}
</div>
{% endblock %}
